[Unit]
Description=Tmux Terminal Multiplexer (Autostart & Restore)
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -d
ExecStop=/usr/bin/tmux kill-server
Restart=on-failure

[Install]
WantedBy=default.target
