[Unit]
Description=Pomodoro CLI Startup Service
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/aditya/dotfiles/POMODORO-CLI/.config/pomodoro_cli/pomodoro_manager.sh quick-start

[Install]
WantedBy=graphical-session.target
